{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="container mt-5">
	
	<h1 class="text-center mt-2">Add a Student</h1>
	<form action="/student/create" method="POST" class="form mt-2" id="create-form">
		<div class="form-group">
			<label class="form-label">Roll Number:</label>
			<input class='form-control' type="text" name="roll" required />
		</div>
		<div class="form-group">
			<label class="form-label">First Name:</label>
			<input class='form-control' type="text" name="f_name" required />
		</div>
		<div class="form-group">
			<label class="form-label">Last Name:</label>
			<input class='form-control' type="text" name="l_name" />
		</div>
		<div class="form-group mt-3 required">
			<label class="form-label">Select Courses: </label>
			{% for course in courses %}
				<input class='form-check-input' type="checkbox" name="courses" value="{{course.course_id}}" />
				<label class="form-label">{{ course.course_name }}</label>
			{% endfor %}
		</div>
		<div>
			<input class="btn btn-primary" type="submit" value = "Submit">
		</div>
	</form>
</div>
{% endblock %}