{% extends 'base.html' %}

{% block title %} Update Student {% endblock %}

{% block content %}
	<div class="container">
		
		<h1 class="text-center mt-5">Update Student</h1>
		<form action="/student/{{ student.student_id }}/update" class="form mt-5" method="POST" id="update-form">
			<div class="form-group">
				<label class="form-label">Roll Number:</label>
				<input type="text" class="form-control" name="roll" value="{{ student.roll_number }}" disabled />
			</div>
			<div class="form-group">
				<label class="form-label">First Name:</label>
				<input type="text" class="form-control" name="f_name" value="{{ student.first_name }}" required />
			</div>
			<div class="form-group">
				<label class="form-label">Last Name:</label>
				<input type="text" class="form-control" name="l_name" value="{{ student.last_name }}"/>
			</div>
			<div class="form-group mt-3 required">
				<label class="form-label">Select Courses: </label>
				{% for course in courses %}
				<input type="checkbox" class="form-check-input" name="courses" value="{{course.course_id}}" />
				<label class="form-check-label">{{ course.course_name }}</label>
				{% endfor %}
			</div>
			<div class="mt-2">
				<input class="btn btn-primary" type="submit" value = "Submit">
			</div>
		</form>
	</div>
{% endblock %}